<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ayaspace.mage">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mage_icon_128"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mage_icon_128"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaGE">
        <activity
            android:name=".utils.recyclyerUtils.AlarmLaunchedActivity"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.alarms.EditNotification"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.alarms.NewNotification"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.alarms.EditAlarm"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.alarms.NewAlarm"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.diary.EditDiaryEntry"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.diary.NewDiaryEntry"
            android:exported="false" />
        <activity
            android:name=".mainTabbedActivities.diary.ViewDiaryEntry"
            android:exported="false"
            android:label="@string/title_activity_new_diary_entry"
            android:theme="@style/Theme.MaGE.NoActionBar" />
        <activity
            android:name=".activities.SecurityCheckOnLaunch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstTimeUserActivities.FirstTimeUserConfirmation"
            android:exported="false" />
        <activity
            android:name=".firstTimeUserActivities.FirstTimeUserBasicSettings"
            android:exported="false" />
        <activity
            android:name=".firstTimeUserActivities.FirstTimeUserDetailsScreen"
            android:exported="false" />
        <activity
            android:name=".firstTimeUserActivities.FirstTimeUserWelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <receiver
            android:name=".utils.AlarmBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="uk.co.ayaspace.alarm" />
                <action android:name="uk.co.ayaspace.notify" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>